@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url(../fonts/Gilroy/stylesheet.css);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Manrope", sans-serif;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.523%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

h2 {
  color: var(--text-black, #232323);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 50px;
}

h3 {
  color: var(--text-black, #232323);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h4 {
  color: var(--unnamed, #2D2D2D);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

h5 {
  color: var(--text-black, #232323);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.main_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 40px;
  border: 1px solid var(--border-white, #FFF);
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  background: transparent;
}

.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 40px;
  border: 1px solid #222;
  background: transparent;
  color: #202020;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.btn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #345483;
  padding: 12px 30px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
  border: 0;
}

.btn4 {
  padding: 12px 16px;
  background: #FFF;
  border: 0;
  color: var(--text-black, #232323);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header {
  width: 100%;
  min-height: 122px;
  padding: 20px 0;
  background: #F3F3F3;
  position: absolute;
  top: 0;
  left: 0;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 292px;
  height: 75px;
}
.header__logo img {
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 24px;
}

.header__soc {
  margin-right: 40px;
}
.header__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27px;
  height: 27px;
  margin-right: 24px;
}
.header__soc a:last-child {
  margin-right: 0;
}

.header__email, .header__phone {
  color: var(--text-black, #232323);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-right: 40px;
}

.header__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-black, #232323);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border-bottom: 1px dotted #909090;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__navbar li {
  margin-right: 30px;
}
.header__navbar li:last-child {
  margin-right: 0;
}
.header__navbar a {
  color: var(--text-black, #232323);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
  border: 0;
  background: transparent;
  position: relative;
}
.header__cart span {
  min-width: 21px;
  min-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
  background: #345483;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 2;
  border-radius: 50%;
  color: #FFF;
  font-family: "Gilroy", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main {
  padding-top: 146px;
  padding-bottom: 50px;
}

.banner {
  min-height: 800px;
  margin-top: -24px;
}

.banner__slider .slick-prev, .banner__slider .slick-next {
  width: 67px;
  height: 67px;
  background: #F0F0F0;
  z-index: 99;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.banner__slider .slick-prev::before, .banner__slider .slick-next::before {
  display: none;
}
.banner__slider .slick-prev {
  left: 30px;
  background: #F0F0F0 url(../img/arrow-left.svg) no-repeat center;
}
.banner__slider .slick-next {
  right: 30px;
  background: #F0F0F0 url(../img/arrow-right.svg) no-repeat center;
}
.banner__slider .slick-prev:hover {
  background: #345483 url(../img/arrow-left-w.svg) no-repeat center;
}
.banner__slider .slick-next:hover {
  background: #345483 url(../img/arrow-right-w.svg) no-repeat center;
}

.banner__wrap {
  min-height: 800px;
  position: relative;
}

.banner__wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(129deg, rgba(3, 3, 3, 0.1) 0%, rgba(3, 3, 3, 0.1) 13.63%, rgba(3, 3, 3, 0.1) 24.08%, rgba(3, 3, 3, 0.1) 31.87%, rgba(3, 3, 3, 0.09) 37.48%, rgba(3, 3, 3, 0.09) 41.43%, rgba(3, 3, 3, 0.09) 44.22%, rgba(3, 3, 3, 0.09) 46.35%, rgba(3, 3, 3, 0.08) 48.32%, rgba(3, 3, 3, 0.08) 50.64%, rgba(3, 3, 3, 0.08) 53.81%, rgba(3, 3, 3, 0.07) 58.33%, rgba(3, 3, 3, 0.07) 64.7%, rgba(3, 3, 3, 0.07) 73.44%, rgba(3, 3, 3, 0.07) 85.04%, rgba(3, 3, 3, 0.06) 100%);
}

.banner__wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(119, 178, 218);
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, rgb(119, 178, 218)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgb(119, 178, 218) 23%, rgba(0, 0, 0, 0) 50%);
}

.banner__block {
  max-width: 610px;
  width: 100%;
  padding-top: 144px;
  padding-bottom: 130px;
  position: relative;
  z-index: 2;
}
.banner__block h1 {
  margin-bottom: 20px;
}
.banner__block h2 {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 20px;
}
.banner__block p {
  max-width: 470px;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.523%;
  margin-bottom: 40px;
}

.products .container {
  padding-top: 128px;
  padding-bottom: 120px;
}

.products__slider .catalog__block {
  width: 285px;
  margin: 0 auto;
}
.products__slider .slick-prev, .products__slider .slick-next {
  width: 67px;
  height: 67px;
  background: #F0F0F0;
  z-index: 99;
  top: -70px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.products__slider .slick-prev::before, .products__slider .slick-next::before {
  display: none;
}
.products__slider .slick-prev {
  left: auto;
  right: 82px;
  background: #F0F0F0 url(../img/arrow-left.svg) no-repeat center;
}
.products__slider .slick-next {
  right: 5px;
  background: #F0F0F0 url(../img/arrow-right.svg) no-repeat center;
}
.products__slider .slick-prev:hover {
  background: #345483 url(../img/arrow-left-w.svg) no-repeat center;
}
.products__slider .slick-next:hover {
  right: 5px;
  background: #345483 url(../img/arrow-right-w.svg) no-repeat center;
}

.products__block {
  width: 292px;
  display: block;
  margin: 0 auto;
}

.products__block:hover .products__title {
  background: #345483;
}
.products__block:hover .products__title p {
  color: #FFF;
}
.products__block:hover .products__img img {
  -webkit-transform: translate(-50%, -50%) scale(1.03);
          transform: translate(-50%, -50%) scale(1.03);
}

.products__img {
  width: 100%;
  min-height: 297px;
  position: relative;
  overflow: hidden;
}
.products__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 102%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.products__title {
  padding: 20px;
  background: #F3F3F3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products__title p {
  color: var(--text-black, #232323);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.company .container {
  padding-bottom: 120px;
}

.company__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.company__wrap:last-child {
  margin-bottom: 0;
}

.company__content {
  max-width: 517px;
  width: 100%;
  padding-top: 120px;
}
.company__content p {
  font-size: 18px;
  margin-bottom: 40px;
}
.company__content h6 {
  color: #8F8F8F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.company__img, .company__img2 {
  max-width: 600px;
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
}
.company__img img, .company__img2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.company__img2 {
  height: 760px;
}

.application__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 517px;
  background: #F3F3F3;
}

.application__form {
  max-width: 740px;
  width: 100%;
  padding: 40px 86px 50px 50px;
}
.application__form h3 {
  margin-bottom: 10px;
}
.application__form p {
  color: #292929;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 50px;
}
.application__form span {
  display: block;
  max-width: 480px;
  width: 100%;
  color: #343434;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.4;
}
.application__form .btn2 {
  margin-top: 30px;
}
.application__form .wrap {
  max-width: 603px;
  width: 100%;
}

.application__input, .application__textarea {
  margin-bottom: 40px;
}
.application__input input, .application__textarea input {
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 7px;
  color: #2c2c2c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.application__input input::-webkit-input-placeholder, .application__textarea input::-webkit-input-placeholder {
  color: #8E8E8E;
}
.application__input input::-moz-placeholder, .application__textarea input::-moz-placeholder {
  color: #8E8E8E;
}
.application__input input:-ms-input-placeholder, .application__textarea input:-ms-input-placeholder {
  color: #8E8E8E;
}
.application__input input::-ms-input-placeholder, .application__textarea input::-ms-input-placeholder {
  color: #8E8E8E;
}
.application__input input::placeholder, .application__textarea input::placeholder {
  color: #8E8E8E;
}

.application__textarea {
  margin-bottom: 20px;
}

.application__contacts {
  max-width: 460px;
  width: 100%;
  min-height: 517px;
  background: #345483;
  padding: 40px 50px 50px 50px;
  position: relative;
}
.application__contacts h3 {
  color: #FFF;
  margin-bottom: 55px;
}

.application__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
}
.application__item svg {
  margin-right: 12px;
}

.application__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 60px;
  left: 50px;
}
.application__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside {
  max-width: 286px;
  width: 100%;
}
.aside h5 {
  color: var(--text-black, #232323);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}
.aside h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.aside h6 svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.aside h6.active svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.aside__catalog {
  margin-bottom: 32px;
}
.aside__catalog li {
  margin-bottom: 14px;
}
.aside__catalog li:last-child {
  margin-bottom: 0;
}
.aside__catalog a {
  color: var(--text-black, #232323);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aside__catalog a:hover {
  color: #345483;
}

.aside__filter h5 {
  margin-bottom: 0;
}
.aside__filter .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.aside__filter .box .btn3 {
  padding: 12px 16px;
}

.aside__block {
  padding: 20px 0;
  border-bottom: 1px solid #E3E3E3;
}

.aside__wrap {
  border: 1px solid #E1E1E1;
  background: #FAFAFA;
  padding: 20px;
}

.aside__checked {
  height: 0;
  overflow: hidden;
}

.aside__check {
  margin-bottom: 8px;
  position: relative;
}
.aside__check input {
  min-width: 14px;
  width: 14px;
  height: 14px;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-right: 10px;
}
.aside__check label {
  color: var(--text-black, #232323);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.aside__check label::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #C7C7C7;
}
.aside__check input:checked + label::before {
  background: #345483 url(../img/check.svg) no-repeat center/cover;
  border: 0;
}

.aside__radio {
  height: 0;
  overflow: hidden;
}
.aside__radio .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  position: relative;
}
.aside__radio .radio input {
  min-width: 14px;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  opacity: 0;
  position: relative;
  z-index: -1;
}
.aside__radio .radio label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.aside__radio .radio label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #C7C7C7;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.aside__radio .radio input:checked + label::before {
  border: 4px solid #345482;
}
.aside__radio .radio:last-child {
  margin-bottom: 0;
}

.aside__price {
  height: 0;
  overflow: hidden;
}

.aside__check:last-child {
  margin-bottom: 0;
}

.aside__block h6.active {
  margin-bottom: 15px;
}

.aside__block h6.active + .aside__checked {
  height: auto;
}

.aside__block h6.active + .aside__radio {
  height: auto;
}

.aside__block h6.active + .aside__price {
  height: auto;
}

.price_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 2px;
}
.price_num p {
  border: 1px solid #C7C7C7;
  background: #FFF;
  width: 105px;
  gap: 10px;
  width: 105px;
  height: 40px;
}
.price_num p input {
  width: 100%;
  background: transparent;
  border: 0;
  color: var(--text-black, #232323);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
}

.slider-range {
  max-height: 12px;
  min-height: 12px;
  padding-left: 12px;
  padding-right: 5px;
}
.slider-range .ui-widget.ui-widget-content {
  height: 1px;
  border: 0;
  background: #345483;
}
.slider-range .ui-state-default, .slider-range .ui-widget-content .ui-state-default, .slider-range .ui-widget-header .ui-state-default, .slider-range .ui-button, .slider-range html .ui-button.ui-state-disabled:hover, .slider-range html .ui-button.ui-state-disabled:active {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #FAFAFA;
  border: 3px solid #345483;
}
.slider-range .ui-slider .ui-slider-range {
  background: #345483;
}

.catalog__content {
  max-width: 895px;
  width: 100%;
}

.catalog__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.catalog__block {
  display: block;
  padding: 16px;
  border: 1px solid #E1E1E1;
  background: #FAFAFA;
}
.catalog__block p {
  color: var(--text-black, #232323);
  margin-bottom: 6px;
}
.catalog__block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog__block .btn3 {
  width: 100%;
  margin-top: 20px;
}

.catalog__img {
  width: 100%;
  min-height: 226px;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
}
.catalog__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 102%;
  height: auto;
}

.catalog__price {
  color: var(--text-black, #232323);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.catalog__quantity {
  max-width: 95px;
  width: 100%;
  height: 34px;
  background: #E9E9E9;
  position: relative;
}
.catalog__quantity .minus, .catalog__quantity .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  color: #345483;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
  border: 0;
  background: transparent;
}
.catalog__quantity .plus {
  left: auto;
  right: 0;
}
.catalog__quantity .num {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  color: #345483;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
}

.catalog2 h2 {
  margin-bottom: 24px;
}

.catalog2__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12px 1fr 12px 1fr 12px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 40px;
}
.catalog2__box .products__block {
  width: 100%;
}

.product__wrap {
  margin-bottom: 100px;
}

.product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.product__slider {
  max-width: 546px;
  width: 100%;
  margin-right: 64px;
}

.product__image {
  width: 100%;
  margin-bottom: 15px;
}
.product__image .block {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}
.product__image .block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 101%;
  height: auto;
}

.product__nav {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.product__nav .slick-prev, .product__nav .slick-next {
  width: 30px;
  height: 20px;
  z-index: 99;
  background: red;
}
.product__nav .slick-prev::before, .product__nav .slick-next::before {
  display: none;
}
.product__nav .slick-prev {
  background: url(../img/arrow-left.svg) no-repeat left;
  left: -72px;
}
.product__nav .slick-next {
  background: url(../img/arrow-right.svg) no-repeat right;
  right: -72px;
}
.product__nav .block {
  width: 87px;
  height: 80px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.product__nav .block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 102%;
  height: auto;
}

.product__content {
  max-width: 550px;
  width: 100%;
}
.product__content p {
  margin-bottom: 40px;
}
.product__content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__content .catalog__quantity {
  max-width: 99px;
  height: 50px;
  margin-right: 15px;
}
.product__content .btn3 {
  height: 50px;
}

.product__title {
  max-width: 380px;
  width: 100%;
  margin-bottom: 12px;
}

.product__price {
  color: var(--text-black, #232323);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  margin-bottom: 40px;
}

.product__tabBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
}
.product__tabBtn .btn {
  padding: 10px 24px;
  border: 1px solid #BDBDBD;
  background: transparent;
  color: var(--text-black, #161616);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
}
.product__tabBtn .btn.active {
  background: #345483;
  border-color: #345483;
  color: #FFF;
}

.product__tabBlock {
  display: none;
}
.product__tabBlock .wrap {
  max-width: 600px;
  width: 100%;
}

.product__tabBlock.active {
  display: block;
}

.product__characteristics {
  max-width: 590px;
  width: 100%;
}
.product__characteristics li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #EEE;
}
.product__characteristics p, .product__characteristics h6 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.1%;
}

.crumbs {
  margin-bottom: 16px;
}
.crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.crumbs li {
  margin-right: 28px;
  position: relative;
  margin-bottom: 8px;
}
.crumbs li::after {
  content: ">";
  color: var(--text-black, #232323);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 0;
  right: -17px;
}
.crumbs li:last-child::after {
  display: none;
}
.crumbs a, .crumbs p {
  color: var(--text-black, #232323);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paginator {
  margin-top: 34px;
}
.paginator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paginator li {
  margin-right: 10px;
}
.paginator li:last-child {
  margin-right: 0;
}
.paginator a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  border: 1px solid #D9D9D9;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.paginator a:hover {
  border-color: #7187A8;
  color: #345483;
}

.footer {
  background: #F3F3F3;
  padding: 40px 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 292px;
  height: 75px;
}
.footer__logo img {
  width: 100%;
}

.footer__center p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959BA5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  text-align: center;
}
.footer__center p svg {
  margin-right: 1px;
}

.footer__kontur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__kontur a {
  display: block;
  color: #959BA5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__kontur img {
  margin-left: 16px;
}

.header__burgir {
  display: none;
}

.footer__contacts {
  display: none;
}

.footer__soc {
  display: none;
}

.filter_open {
  display: none;
}

@media screen and (max-width: 1024px) {
  .filter_open {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    border: 1px solid #6C6C6C;
    background: transparent;
    color: #151515;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .filter_open svg {
    margin-left: 10px;
  }
  .filter_open span {
    display: block;
  }
  .filter_open span:nth-child(2) {
    display: none;
  }
  .filter_open.close {
    background: #345483;
    color: #FFF;
  }
  .filter_open.close svg path {
    fill: #FFF;
  }
  .filter_open.close span:nth-child(1) {
    display: none;
  }
  .filter_open.close span:nth-child(2) {
    display: block;
  }
  section {
    display: none;
  }
  h2 {
    font-size: 25px;
    line-height: 120%; /* 30px */
  }
  .header__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__wrap {
    max-height: calc(100vh - 70px);
    height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 24px;
    overflow-y: auto;
  }
  .header__bottom {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__navbar {
    width: 100%;
    margin-bottom: 10px;
  }
  .header__navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar li {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .header__navbar a {
    display: block;
  }
  .header__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__download {
    display: none;
  }
  .header__soc {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__email, .header__phone {
    margin: 0;
    margin-bottom: 10px;
  }
  .header__cart {
    position: absolute;
    top: 22px;
    right: 60px;
  }
  .header__cart svg {
    width: 20px;
    height: auto;
  }
  .header__cart span {
    min-width: 14px;
    min-height: 14px;
    font-size: 8px;
    padding: 0;
    top: -5px;
    right: -5px;
  }
  .header__logo {
    width: 136px;
    height: 36px;
  }
  .header {
    height: 66px;
    overflow: hidden;
    min-height: auto;
    padding: 15px 0;
    position: fixed;
    z-index: 9999;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header.open {
    height: 100vh;
  }
  .header__burgir {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burgir span {
    width: 20px;
    min-height: 3px;
    height: 3px;
    background: #8CA0B7;
    border-radius: 3px;
    margin: 2px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burgir.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burgir.active span:nth-child(1) {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  .header__burgir.active span:nth-child(3) {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .header__burgir.rotate {
    border-color: #4E4E4E;
  }
  .header__burgir.rotate span {
    background: #232323;
  }
  .header__burgir.rotate span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .header__burgir.rotate span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
  }
  .footer {
    padding: 15px 0 24px 0;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__logo {
    width: 203px;
    height: 52px;
    margin-bottom: 32px;
  }
  .footer__center {
    margin-bottom: 32px;
  }
  .footer__center p {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: var(--blue, #8CA0B7);
    font-size: 13px;
    line-height: normal;
    text-align: start;
    margin-bottom: 10px;
  }
  .footer__contacts {
    display: block;
  }
  .footer__contacts h2 {
    margin-bottom: 20px;
  }
  .footer__item {
    max-width: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #3F3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.32px;
    margin-bottom: 32px;
  }
  .footer__item svg {
    margin-right: 10px;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .footer__soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }
  .footer__soc a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 31px;
    height: 31px;
    margin-right: 24px;
  }
  .main {
    padding-top: 80px;
  }
  .banner {
    min-height: auto;
    display: block;
    margin-top: -14px;
  }
  h1 {
    color: var(--text-black, #232323);
    font-size: 34px;
    font-weight: 600;
    line-height: 110%; /* 37.4px */
  }
  .banner__wrap {
    min-height: auto;
    background: transparent !important;
  }
  .banner__wrap::before, .banner__wrap::after {
    display: none;
  }
  .banner__block {
    padding-top: 14px;
    padding-bottom: 50px;
  }
  .banner__block h1, .banner__block h2 {
    margin-bottom: 12px;
  }
  .banner__block h2 {
    color: var(--text-black, #232323);
    font-size: 34px;
    font-weight: 600;
    line-height: 110%; /* 37.4px */
  }
  .banner__block .main_btn {
    width: 100%;
  }
  .banner__block p {
    color: #0B0B0B;
    font-size: 14px;
    line-height: 145%; /* 20.3px */
    margin-bottom: 17px;
  }
  .main_btn {
    color: #212121;
    border: 1px solid #212121;
  }
  .products {
    display: block;
  }
  .products .container {
    padding-top: 0;
    padding-bottom: 50px;
  }
  h2 {
    margin-bottom: 20px;
  }
  .products__slider {
    width: calc(100% + 16px);
  }
  .banner__slider .slick-prev, .banner__slider .slick-next {
    display: none !important;
  }
  .products__wrap {
    width: 234px;
    margin-right: 10px;
  }
  .products__block {
    width: 234px;
  }
  .products__img {
    min-height: 210px;
  }
  .company {
    display: block;
  }
  .company__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .company__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0;
    margin-bottom: 20px;
  }
  .company__content p {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .company__content p:last-child {
    margin-bottom: 0;
  }
  .company__wrap:last-child {
    margin-bottom: 0;
  }
  .company__img {
    height: 250px;
  }
  .company__img2 {
    height: 250px;
  }
  .company__img img, .company__img2 img {
    width: 100%;
    height: auto;
  }
  .company__content h6 {
    display: none;
  }
  .company .container {
    padding-bottom: 50px;
  }
  .application {
    display: block;
  }
  .application__contacts {
    display: none;
  }
  .application__wrap {
    min-height: auto;
    width: calc(100% + 32px);
    margin-bottom: -50px;
    margin-left: -16px;
    background: #345483;
  }
  .application__form {
    padding: 16px;
  }
  .application__form h3 {
    color: #FFF;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 24px;
  }
  .application__form p {
    max-width: 260px;
    width: 100%;
    color: #FFF;
    margin-bottom: 20px;
  }
  .application__input input, .application__textarea input {
    color: #FFF;
  }
  .application__input input::-webkit-input-placeholder, .application__textarea input::-webkit-input-placeholder {
    color: #FFF;
  }
  .application__input input::-moz-placeholder, .application__textarea input::-moz-placeholder {
    color: #FFF;
  }
  .application__input input:-ms-input-placeholder, .application__textarea input:-ms-input-placeholder {
    color: #FFF;
  }
  .application__input input::-ms-input-placeholder, .application__textarea input::-ms-input-placeholder {
    color: #FFF;
  }
  .application__input input::placeholder, .application__textarea input::placeholder {
    color: #FFF;
  }
  .application__input {
    margin-bottom: 30px;
  }
  .application__textarea {
    margin-bottom: 10px;
  }
  .application__form span {
    max-width: 220px;
    width: 100%;
    color: #EEE;
  }
  .application__form .btn2 {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #FFF;
    color: #FFF;
  }
  .crumbs {
    margin-bottom: 7px;
  }
  .catalog {
    display: block;
  }
  .aside {
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .aside.open {
    height: auto;
    margin-bottom: 20px;
  }
  .aside__wrap {
    padding: 20px 16px;
  }
  .catalog__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  .paginator {
    display: none;
  }
  .catalog2 {
    display: block;
  }
  .catalog2__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  .products__img {
    min-height: 296px;
  }
  .product {
    display: block;
  }
  .product__nav {
    display: none;
  }
  .product__image {
    width: calc(100% + 16px);
  }
  .product__image .wrap {
    width: 90vw;
    height: 242px;
    margin-right: 8px;
  }
  .product__image .block {
    height: 242px;
  }
  h5 {
    font-size: 18px;
  }
  .product__title {
    max-width: 290px;
    width: 100%;
    margin-bottom: 8px;
  }
  .product__price {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .product__content p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .product__content .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product__content .catalog__quantity {
    margin-bottom: 16px;
  }
  .product__content .btn3 {
    width: 100%;
  }
  .product__wrap {
    margin-bottom: 64px;
  }
  .products__slider .catalog__block {
    width: 100%;
  }
  .product__box {
    margin-bottom: 42px;
  }
  .product__characteristics li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid #C6C6C6;
  }
  .product__characteristics li p {
    margin-bottom: 8px;
  }
  .product__characteristics li:nth-child(1) {
    border-top: 1px solid #C6C6C6;
  }
  .product__tabBtn {
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__tabBtn .btn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__tabBtn .btn.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__tabBtn.open .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}